:root {
  --primary-color: #1d48ba;
  --border-color: #325dcd;
  --text-color: #334155;
  --black-color: #000000;
  --gray-color: #52637a;
}

* {
  box-sizing: inherit;
}


html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}